<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns="http://www.w3.org/1999/xhtml">
		
<head th:include="fragments/header :: head-source">
    <title id="pageTitle">Produkt</title>
</head>

<body>
	<div th:include="fragments/header :: navbar"></div>
    
   <div class="container p-4">
    <h1 class="mt-5">Zapisano produkt</h1>
    <p th:text="'Nazwa produktu: ' + ${product.name}" />
    <p th:text="'Opis: ' + ${product.description}" />
    <p th:text="'Cena: ' + ${product.price}" />
    <p th:text="'Ilość: ' + ${product.quantityInStock}" />
    <p th:text="'Kategoria: ' + ${product.category.name}" />
    <a href="/admin-panel/products-by-category">Powrót do listy produktów</a>
   </div>
  
    <div th:insert="fragments/footer :: footer"></div>
</body>
</html>