<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
	<div th:fragment="footer" id="customFooter">
        <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/1.14.1/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/main.js}"></script>
            <footer class="py-4 bg-dark text-white-50">
                <span sec:authorize="isAuthenticated()">
                    name:  <span sec:authentication="name"></span>
                    role: <span sec:authentication="principal.authorities"></span>
                </span>
            </footer>
    </div>
</body>
</html>