<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css"/>
    
</head>
<body>

<div class="container p-4">
	<div class="row">
	<div class="col-sm-6 offset-sm-3 text-center">
    <form action="#" th:action="@{/customer/new-address}" th:object="${addressForm}" method="post">
    <fieldset>
    	<h2 class="p-3">Dodaj adres</h2>
    	
    	<div class="form-group">
    		<input type="text" th:field="*{street}" class="form-control input-lg" 
    		placeholder="Ulica" autofocus="autofocus"/><br/>
    		<p th:if="${#fields.hasErrors('street')}" th:errors="*{street}" style="color: indianred;"> </p>
    	</div>
    	
    	<div class="form-group">
    		<input type="text" th:field="*{city}" class="form-control input-lg" 
    		placeholder="Miasto" autofocus="autofocus"/><br/>
    		<p th:if="${#fields.hasErrors('city')}" th:errors="*{city}" style="color: indianred;"> </p>
    	</div>

    	<div class="form-group">
    		<input type="text" th:field="*{code}" class="form-control input-lg" 
    		placeholder="Kod pocztowy" autofocus="autofocus" /><br/>
    		<p th:if="${#fields.hasErrors('code')}" th:errors="*{code}" style="color: indianred;"> </p>
    	</div>
        
    	
		<div class="row">
            <div class="col-sm-6 offset-sm-3">
               <input type="submit" class="btn btn-lg btn-primary btn-block" value="Dodaj"/>
            </div>
        </div>
    </fieldset>
    </form>
    </div>
    </div>
</div>
</body>
</html>