<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/header :: head-source">
    <title id="pageTitle">Rejestracja</title>
    <meta charset="utf-8">
</head>

<body>
<div th:include="fragments/header :: navbar"></div>

<div class="container p-4">
	<div class="row">
	<div class="col-sm-6 offset-sm-3 text-center">
    <form action="#" th:action="@{/registration}" th:object="${accountForm}" method="post">
    <fieldset>
    	<h2 class="p-3">Rejestracja</h2>
    	
    	<div class="form-group">
    		<input type="text" th:field="*{login}" class="form-control input-lg" 
    		placeholder="Login" autofocus="autofocus"/><br/>
    		<p th:if="${#fields.hasErrors('login')}" th:errors="*{login}" style="color: indianred;"> </p>
    	</div>
    	
    	<div class="form-group">
    		<input type="text" th:field="*{firstName}" class="form-control input-lg" 
    		placeholder="Imię" autofocus="autofocus"/><br/>
    		<p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" style="color: indianred;"> </p>
    	</div>

    	<div class="form-group">
    		<input type="text" th:field="*{lastName}" class="form-control input-lg" 
    		placeholder="Nazwisko" autofocus="autofocus" /><br/>
    		<p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" style="color: indianred;"> </p>
    	</div>
        
        <div class="form-group">
    		<input type="text" th:field="*{email}" class="form-control input-lg" 
    		placeholder="Email" autofocus="autofocus"/><br/>
    		<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: indianred;"> </p>
    	</div>
        
		<div class="form-group">
    		<input type="password" th:field="*{password}" class="form-control input-lg" 
    		placeholder="Hasło" autofocus="autofocus"/> <br/>
    		<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: indianred;"> </p>
    	</div>
    	
    	<div class="form-group">
    		<input type="password" th:field="*{repeatedPassword}" class="form-control input-lg" 
    		placeholder="Powtórz hasło" autofocus="autofocus"/><br/>
    		<p th:if="${#fields.hasErrors('repeatedPassword')}" th:errors="*{repeatedPassword}" style="color: indianred;"></p>
    	</div>
    	
		<div class="row">
            <div class="col-sm-6 offset-sm-3">
               <input type="submit" class="btn btn-lg btn-primary btn-block" value="Załóż konto"/>
            </div>
        </div>
    </fieldset>
    </form>
    </div>
    </div>
</div>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>